# Folders
**/.venv*/
**/IMG*/
**/VIDS*/
/.vs/
FileProtector/x64
HashingLib/x64
VideoEncryptorLib/x64
/x64/
FileProtector/opencv/*
!FileProtector/opencv
HashingLib/OpenSSL/*
!HashingLib/OpenSSL
fd.py
sasa.py
*.exe